<%- include('../includes/header') -%>

    <body class="img js-fullheight" style="background-image: url(../auth/images/bg.jpg);">
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">My Profile

                        </h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="login-wrap p-0">
                            <h3 class="mb-4 text-center">
                                Hello
                                <%= user.firstName %>
                                    <%= user.lastName %>
                            </h3>
                            <div class="card mb-4">
                                <img src="<%= user.image %>" class="img-thumbnail" alt="<%= user.username %>">
                            </div>


                            <div class="social d-flex text-center">
                                <a href="/auth/logout" class="px-2 py-2 mr-md-1 rounded"><span
                                    class="ion-logo-facebook mr-2"></span>
                                Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('../includes/footer') -%>